@using System.IO
@using MComponents.Images.Helper
@using MComponents.MLoading
@using Microsoft.AspNetCore.Components.Forms

<div class="m-image-editor">
    <InputFile OnChange="@LoadFiles" accept="image/*" />
    <MImageViewer @ref=mImageViewer Image="Image" />
</div>

@code {

    [Parameter]
    public IBrowserFile Image { get; set; }

    protected MImageViewer mImageViewer;

    protected async void LoadFiles(InputFileChangeEventArgs e)
    {
        if (e.FileCount <= 0)
            return;

        Image = null;
        mImageViewer.ResetImage();

        await Task.Delay(100);

        mImageViewer.SetContentType(BrowserFileHelper.DEFAULT_CONTENT_TYPE);

        var imageData = await BrowserFileHelper.ResizeAndGetImage(e.File);
        mImageViewer.SetImageData(imageData);

        mImageViewer.ShowBrowserFile();
        StateHasChanged();
    }

    public IBrowserFile GetImageAsBrowserFile()
    {
        return mImageViewer.GetImageAsBrowserFile();
    }
}
