@using MComponents.Resources
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.Extensions.Localization

@inject IStringLocalizer L

<div class="m-image-preview-editor">
    <MImageEditor @ref="mImageEditor" Image=mBrowserFile />

    <div class="m-image-preview-editor-buttons">
        <button class="m-btn m-btn-primary" @onclick=OnBtnSave>@L[nameof(MComponentsLocalization.Submit)]</button>
        <button class="m-btn m-btn-primary" @onclick=OnBtnBack>@L[nameof(MComponentsLocalization.Back)]</button>
        <button class="m-btn m-btn-primary" @onclick=DeleteImage><i class="fas fa-trash-alt"></i></button>
    </div>
</div>

@code {
    protected bool mEditImage;
    protected MImageEditor mImageEditor;

    protected IBrowserFile mBrowserFile;

    protected virtual Task OnBtnSave()
    {
        return Task.CompletedTask;
    }

    protected virtual Task OnBtnBack()
    {
        return Task.CompletedTask;
    }

    protected virtual Task DeleteImage()
    {
        return Task.CompletedTask;
    }
}
